.card{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item{
    flex: 1 1 33.33%;
    margin: 0 5px 0 ;
}

}

@media (max-width: $smDesktopWidth){
    .card{

        &__list{
            justify-content: space-evenly;
        }
        
        &__item{
            flex: 1 1 100%;
            margin: 0 5px 0 ;
    }
}
}